*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared css code start */

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    transition: 0.4s;
    cursor: pointer;
}

.btn:hover{
    background: transparent;
    transition: 0.4s;
    border: 2px solid #469165;
    color: #30B868;
}

/* main css code start */

header{
    
}

nav{
    background-color: #FFFFFF;
    padding: 16px 120px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    
}

.menu li a{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

/* Banner section css */

#banner{
    max-height: 42%;
    background-image: url("/assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    padding: 70px 120px;
    text-align: center;
    max-width: 85%;
}

.banner-content h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
}

.banner-content h2 span{
    color: #30B868;
}

.banner-content p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

.banner-content .btn{
    margin-right: 12px;
}

.banner-btn{
    margin-top: 20px;
}

.banner-btn .btn:hover{
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-2{
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    transition: 0.4s;
    cursor: pointer;
}

.btn-2:hover{
    background-color: #469165;
    border: none;
    transition: 0.4s;
}

.ar-r8{
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 8px;
}

.btn-2 i{
    color: #FFFFFF;
    font-size: 18px;
    margin-right: 8px;
}

/* Notes section css */
.notes{
    padding: 60px 120px 120px 120px;
}

.notes-title{
    text-align: center;
}

.notes-title h3{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.notes-title p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.notes-boxes{
    gap: 16px;
    margin-top: 32px;
}

.box{
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.06);
}

.box-img{
    padding: 8px;
    background-color: #F95555;
    border-radius: 100%;
}

.box-img img{
    display: block;
}

.box h4{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
}

.box p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382;
}
.notes-boxes{
    display: flex;
    justify-content: space-between;
}

/* Brain section css */

.brain{
    padding: 0px 120px 120px 120px;
}

.brain-content{
    display: flex;
    align-items: center;
    gap: 60px;
}

.brain-desc{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.brain-desc h5{
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.brain-desc h3{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}

.brain-desc p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.brain-menu ul li{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    list-style: none;
    margin-bottom: 16px;
}

.brain-menu ul li i{
    color: #30B868;
    font-size: 16px;
    margin-right: 2px;
}


/* Access css  */
.access{
    padding: 0px 120px 120px 120px;
}

.access-content{
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.access-content h3{
    columns: #001931;
    font-size: 40px;
    font-weight: 700;
}

.access-content p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #627382;
}

.access-content .btn:hover i{
    color: #30B868;
}

/* Footer section css */
footer{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}

.f-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-right{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.f-right h6{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.f-links ul {
    display: flex;
    gap: 16px;
}

.f-links ul li{
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    padding: 3px;
    border-radius: 100%;
    background-color: #FFFFFF;
}

.f-bottom{
    text-align: center;
}

hr{
    height: 1px;
    width: 85%;
    background-color: #E5E7EB;
    margin: 60px 0px 32px 0px;
    opacity: 20%;
}

.f-bottom span{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}